@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  
}
nav{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 30px;
 color: white;
}
.nav2{
  display: flex;
  flex-direction: row;
 
}
button{
  font-family: 'Saira Condensed', sans-serif;
}
h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 70px;
    text-shadow: 4px 4px 12px  black;
}
h3{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: white;
  margin-top: 20vh;
  
}
.honey{
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: cenetr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(80px);
}
.unit{
  -webkit-box-flex: 0;
  flex: 0 1 250px;
  max-width: 250px;
  height: 137.5px;
  margin: 65.4px 12.5px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  box-shadow: 12px 10px 15px 0 black;
}
.unit img{
  object-fit: cover;
  object-position: center;
  filter: grayscale(30%);
}
.unit-title{
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-direction:normal ;
  -webkit-box-orient: vertical;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-hyphens: auto;
  word-break: break-word;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.75em;
  transition: opacity 350ms;
}
.unit::before,.unit::after{
  content: "";
}
.unit::before,.unit::after,.unit img{
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  z-index: -1;
  -webkit-clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%, 0% 75%,0% 25%);
  clip-path: polygon(50% 0%,100% 25%,100% 75%,50% 100%, 0% 75%,0% 25%);
}
.unit::before{
  background: white;
  transform: scale(1.055);
}
.unit::after{
  background: #111111;
  opacity: 0.7;
  transition: opacity 350ms;
  -webkit-transition: opacity 350ms;
}
.unit:hover
.unit-title{
  filter: grayscale(0%);
}
.unit:hover::before{
  background: #fc5130;
}
.unit:hover::after{
  opacity: 0;
}
.unit-title:hover{
  opacity: 0;
}
section img {
  animation: wiggle 2s linear infinite;
  padding: 0;
  margin: 0;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.blowing-text {
  animation-duration: 1s;
  animation-fill-mode: both;
  transform-origin: left bottom;
}

.blowing-text {
  animation-name: blowing;
}

@keyframes blowing {
  50%, 60%, 70% {
    transform: skewX(-35deg);
  }
  55%, 65%, 75% {
    transform: skewX(-40deg);
  }
}
#modal{
  animation-name: bondJamesBond;
  animation-name: killShot;
  animation-name: fadeToRed;
  animation-name: slowFade;
}
@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px);
  }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px;
  }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px;
  }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px;
  }
}

@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0;
  }
}

@keyframes fadeToRed {
  0% {
    background-color: rgba(black, .6);
  }
  100% {
    background-color: rgba(red, .8);
  }
}

@keyframes slowFade {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}




